<h2>Products</h2>

<% @products.each do |product| %>
  <p>id: <%= product.id %></p>
  <p>name: <%= product.name %></p>
  <p>description: <%= product.description%></p>
  <p>price: <%= product.price %></p>
  <img src="<%= product.images[0].url %>">

<%end%>